<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.pet.dao.PetMapper">
  <resultMap id="BaseResultMap" type="com.nf147.pet.entity.Pet">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="photoUrls" jdbcType="VARCHAR" property="photoUrls" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pet
    where pid = #{pid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.nf147.pet.entity.Pet">
    insert into pet (pid, cid, name, 
      photoUrls,price, tags, status
      )
    values (#{pid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{photoUrls,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.nf147.pet.entity.Pet">
    update pet
    set cid = #{cid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      photoUrls = #{photoUrls,jdbcType=VARCHAR},
      price=#{price,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select pid, cid, name, photoUrls,price, tags, status
    from pet
    where pid = #{pid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select pid, cid, name, photoUrls, price,tags, status
    from pet
  </select>

  <select id="query" resultMap="BaseResultMap">
    select pid, cid, name, photoUrls,price, tags, status
    from pet
    where name like '%${name}%'
  </select>

</mapper>