<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.pet.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.nf147.pet.entity.User">
        <id column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="firstName" jdbcType="VARCHAR" property="firstName"/>
        <result column="lastName" jdbcType="CHAR" property="lastName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.nf147.pet.entity.User">
    insert into user (userid, username, firstName, 
      lastName, email, password, 
      phone)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, 
      #{lastName,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR})
  </insert>

    <update id="updateByPrimaryKey" parameterType="com.nf147.pet.entity.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      firstName = #{firstName,jdbcType=VARCHAR},
      lastName = #{lastName,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select userid, username, firstName, lastName, email, password, phone
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select userid, username, firstName, lastName, email, password, phone
    from user
  </select>

    <select id="user" resultType="User">
    select userid, username, firstName, lastName, email, password, phone
    from user where username=#{username,jdbcType=VARCHAR}
  </select>

</mapper>